<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hotpot - Die 5-Elemente Küche in Graz</title>
        <link rel="stylesheet" href="/static/css/foundation.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
        <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
    </head>
  <body>
    {% block nav %}
    <div data-sticky-container>
        <div class="title-bar" data-responsive-toggle="hotpot-menu" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Menu</div>
        </div>
        <div id="hotpot-menu" class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
          <div class="top-bar-left">
            <ul class="menu vertical large-horizontal" data-responsive-menu="drilldown large-dropdown">
              <li class="menu-text"><a href="/">HotPot</a></li>
              <li><a href="/#about">Küche</a></li>
              <li><a href="/#menu">Hotpots der Woche</a></li>
              <li><a href="/buy">Bestellen</a></li>
              <li><a href="/#elements">Die 5-Elemente</a></li>
              <li><a href="/#diet">Ernährungsberatung</a></li>
              <li><a href="/#partners">Partner & Lieferanten</a></li>
              <li><a href="/#contact">Kontakt</a></li>
            </ul>
          </div>
          {% block login %}
          {% endblock %}
          <div class="clearfix"></div>
        </div>
    </div>
    {% endblock %}


    {% block body %}
    {% endblock %}

    {% block footer %}
    <div class="row">
      <div class="large-12 columns">
      </div>
    </div>


    <div id="footer">
        <div class="row">
            <div class="medium-4 large-4 small-12 columns">
                <h4>Kontakt</h4>
                <div>Dipl. EB</div>
                <div>Gabriele Edler-Binder-Krieglstein</div>
                <div>Mag. Oliver Binder-Krieglstein</div>
                <div>Kernstockgasse 19</div>
                <div>8020 GRAZ</div>
                <div>Tel: +43 (0)650/65 33 650</div>
                <div>Tel: +43 (0)660/22 606 32</div>
                <div>office@hotpot.at</div>
                <div>www.hotpot.at</div>
            </div>
            <div class="medium-4 large-4 small-12 columns">
                <h4>Facebook</h4>
                <a href="https://de-de.facebook.com/hotpot.graz" rel="nofollow" title="Follow Us on facebook">
                    <div>
                        <i alt="Follow Us on facebook" class="fa fa-facebook-official fa-5x"></i>
                    </div>
                </a>
            </div>
            <div class="medium-4 large-4 small-12 columns">
                <span class="float-right">Hotpot © 2016</span>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="/static/js/vendor/what-input.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
