{% extends 'hotpot/base.html' %}

{% block body %}
<div class="row padding-block-1">
    <form method="post" id="order_form">
        {% csrf_token %}
        <div class="columns small-12 medium-8">
        <h4 class="info-h">Bitte prüfen Sie Ihre Bestellung</h4>
        <table id="checkout-table">
            <tr>
                <th>Product</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>€{{ item.unit_price }}</td>
                <td><input size="2" value="{{ item.quantity }}" type="number"></td>
                <td>€{{ item.total_price }}</td>
                <td><button class="change button" style="margin: 0px;" data-menu-item="{{ item.product.pk }}">Change</button></td>
                <td><button class="remove red-note" data-menu-item="{{ item.product.pk }}"><i class="fa-times fa"></i></button></td>
            </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td>€{{ cart.summary }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% if request.session.shipping_cost %}
                <tr>
                    <td>Lieferkosten</td>
                    <td></td>
                    <td></td>
                    <td>€{{ request.session.shipping_cost }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
        {% if request.session.quantity_error %}
        <ul class="errorlist">
            <li>Can not add that quantity of item "{{ request.session.quantity_error_item }}". Only {{ request.session.quantity_error }} are left in stock!</li>
        </ul>
        {% endif %}

        <h4 class="info-h">Bitte geben Sie die Lieferanschrift ein:</h4>
        <table class="form-table text-s">
            {{ order_form.as_table }}
        </table>
        </div>
        <script>
            $('.change').click(function() {
                var item = $(this).attr('data-menu-item');
                var qty = $(this).parent().parent().children('td').children('input').val();
                $.ajax({
                    type: 'GET',
                    url:'/change/'+item+'/'+qty+'/'
                }).always(function() {
                    location.reload();
                });
            });
            $('.remove').click(function() {
                var item = $(this).attr('data-menu-item');
                $.ajax({
                    type: 'GET',
                    url:'/remove/'+item+'/'
                }).always(function() {
                    location.reload();
                });
            });
        </script>
        <div class="columns small-12 medium-4" data-sticky-container>
            <div class="sticky" data-sticky data-margin-top="7">
                <a class="button" href="/buy/">Zurück</a>
                <button class="button success" name="order_form_submit" type="submit">Bestellung abschließen</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}