{% extends 'hotpot/base.html' %}
{% load extras %}

{% block body %}
    <div class="img-block-1">
        <div class="column large-12 medium-12 small-12 large-centered medium-centered small-centered">
            <img src="/static/hp_logo_white.png" width="200" style="display:block; margin:auto;">
        </div>
        <div class="column small-3 large-centered medium-centered small-centered text-center">
            <div>SUPPEN</div>
            <div>EINTÖPFE</div>
            <div>FRÜHSTÜCK</div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row text-center padding-block-1">
        <div class="column small-12 medium-12 large-12 large-centered medium-centered small-centered"></div>
        <img src="/static/img/elements-icon-neu.png" width="50" style="display:block; margin:auto;">
        <h1>– Die 5-Elemente Küche –</h1>
        <div class="divider"></div>
        <div class="large-6 medium-6 small-12 large-centered medium-centered small-centered">
            <h3>Gesundes Essen, das schmeckt</h3>
            <p>
                <div><b>Abwechslungsreich und wohltuend</b></div>
                <div>
                    Hotpot bietet abwechslungsreiches und gesundes Essen für alle, die keine Zeit zum Kochen haben.
                    Unsere Suppen, Eintöpfe und Frühstücksvariationen werden nach der 5 Elemente-Küche zubereitet und
                    liefern Ihnen wertvolle Energie.
                </div>
            </p>
            <p>
                <div><b>Regional und kontrolliert biologisch</b></div>
                <div>
                    Die Zutaten stammen vorwiegend von regionalen BIO-Bauern. Unsere Hotpots sind frei von Laktose,
                    Gluten, künstlichen Zusatzstoffen und hauptsächlich vegan. Sie werden in recyclebare Gläser gefüllt
                    und sind je nach Sorte ohne Konservierungsmittel und kühl gelagert über einen Zeitraum von 3 bis
                    12 Wochen haltbar.
                </div>
            </p>
            <a href="/buy" class="button">Hotpots bestellen</a>
        </div>
    </div>

    <div class="img-block-2">
        <div class="column large-12 medium-12 small-12 large-centered medium-centered small-centered">
            <img src="/static/hp_logo_white.png" width="200" style="display:block; margin:auto;">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="text-center">
    <h1>Hotpot app</h1>
        {% if menu %}
            <h2>Current Menü</h2>
            <ul>
                {% for item in menu %}
                    <li>
                        {{ item.name }} -
                        {{ item|retailer_price:request.session.user }}
                    </li>
                {% endfor %}
            </ul>
            <a href="/buy/">Order some Hotpots!</a>
        {% else %}
            <h2>No menus defined for this week!</h2>
            <p>Please contact...</p>
        {% endif %}

        <hr>
        {% if not subscribed and not activated and not unsubscribed and not invalid %}
            <span style="font-size:20px;" class="notopmargin">Subscribe to our free newsletter and get the latest news and updates.</span>
        {% elif activated %}
            <span style="font-size:20px;" class="notopmargin">You have successfully activated your subscription to our newsletter.</span>
        {% elif unsubscribed %}
            <span style="font-size:20px;" class="notopmargin">You have successfully unsubscribed from our newsletter. To subscribe again, follow the activation link in your confirmation email.</span>
        {% elif subscribed %}
            <span style="font-size:20px;" class="notopmargin">Thank you for subscribing to our newsletter! We will inform you on any news and updates.</span>
        {% elif invalid %}
            <span style="font-size:20px;" class="notopmargin">You followed a link that is invalid or expired.</span>
        {% endif %}

        {% if not subscribed and not activated and not unsubscribed and not invalid %}
        <form id="slider-subscribe-form" enctype="multipart/form-data" method="post" class="float-center" style="max-width: 500px;">
            {% csrf_token %}
            {{ newsletter_form.email.errors }}
            {{ newsletter_form.email }}
            <button type="submit" class="button button-border button-light button-circle" value="submit">Subscribe Now</button>
        </form>
        {% endif %}
        <style>
            .errorlist li { color: darkred; }
            .errorlist li::before { content: '*'; }
            .errorlist { display: none; }
        </style>
    </div>

    <div class="img-block-3">
        <div class="column large-12 medium-12 small-12 large-centered medium-centered small-centered">
            <img src="/static/hp_logo_white.png" width="200" style="display:block; margin:auto;">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row text-center padding-block-1">
        <div class="column small-12 medium-12 large-12 large-centered medium-centered small-centered"></div>
        <img src="/static/img/5elemente-2.png" width="300" style="display:block; margin:auto;">
        <h1>– Die 5-Elemente –</h1>
        <div class="divider"></div>
        <div class="large-10 medium-12 small-12 small-centered">
            <h3>Lass deine Nahrungsmittel deine Heilmittel sein</h3>
            <div class="justify text-s">
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                    Die 5 Elemente Ernährung ist einer von fünf Bausteinen in der traditionellen chinesischen Medizin.
                    Die 5 Elemente Holz, Feuer, Erde, Metall und Wasser werden verschiedenen Nahrungsmitteln zugeordnet,
                    welche auch mit geschmacklichen und thermischen Eigenschaften ausgestattet sind.
                </p>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                    Je nach Zuordnung der Nahrungsmittel ergibt sich daraus ein breit gefächertes Wirkungsspektrum; von
                    Energie spendend bis entziehend, wärmend bis kühlend oder belebend bis beruhigend… Basierend auf dem
                    Wissen dieser Ernährungslehre kann somit durch die richtige.
                </p>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                    Zusammensetzung der Speisen auf individuelle Bedürfnisse eingegangen werden. Energetische
                    Disbalancen im Körper können beseitigt werden. Der jeweiligen Jahreszeit entsprechend tragen die
                    zubereiteten Speisen maßgeblich zum körperlichen und seelischen Wohlbefinden bei.
                </p>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="large-8 medium-10 small-12 large-centered medium-centered small-centered">
            <a data-open="exampleModal1"><h4>Mehr über die Ernährung nach den 5-Elementen</h4></a>
            <div class="large-8 medium-10 small-12 large-centered medium-centered small-centered">
                <div class="reveal text-s" id="exampleModal1" data-reveal>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p class="justify padding-block-1">Die Lehre der Traditionellen Chinesischen Medizin berücksichtigt alle Aspekte des menschlichen Lebens: Bewusstsein, Körper, Geist, Lebensweise und Umwelt. Der Schwerpunkt der TCM liegt in der Erhaltung der Gesundheit von Körper, Geist und Seele,und in der Prävention von Krankheiten . Mit Hilfe der 5-Elemente Holz, Feuer, Erde, Metall und Wasser wird die wechselseitige Beziehung zwischen Natur und Mensch beschrieben. Jedem Element werden eine  Jahreszeit, Körperteile, Organe, Farben, Emotionen, Geschmäcker und ein Lebensabschnitt  zugeordnet.</p>
                <ul class="accordion justify" data-accordion data-allow-all-closed="true">
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Holz</a>
                    <div class="accordion-content" data-tab-content>
                      Verkörpert den Frühling, steht für Geburt, Kindheit, rasches Wachstum, Freude an Bewegung und Lebendigkeit. Als Farbe wird diesem Element Grün zugeordnet und der Geschmack des Holzes ist sauer (Frühlingskräuter). Sauer wirkt zusammenziehend, die Energie wird nach unten geleitet und die Körperflüssigkeiten werden bewahrt – die Leber entspannt sich.
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Feuer</a>
                    <div class="accordion-content" data-tab-content>
                      Entspricht dem Sommer, der Pubertät, geistigem Interesse und Inspiration. Dem Feuer sind die Farbe Rot, Freude, Herz, Dünndarm und die Zunge zugeordnet. Der Geschmack ist bitter. Kalte bittere Salate und frisches Obst kühlen die Hitze des Sommers.
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Erde</a>
                    <div class="accordion-content" data-tab-content>
                      Ist das nährende Element zwischen den Jahreszeiten. Zugeordnet wird die Erde dem Spätsommer, der Familienplanung, der Selbstverwirklichung und der Selbstfindung. Gemüse, süße Früchte und Getreide werden geerntet. Der süße Geschmack wirkt nährend auf alle Organe und regt die Produktion der Säfte im Körper an. Milz und Magen haben die Aufgabe aus der Nahrung Energie zu gewinnen. Die Energie der Erde wirkt in alle Richtungen.
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Metall</a>
                    <div class="accordion-content" data-tab-content>
                      Entspricht dem Herbst, auch dem Herbst des Lebens. Rückzug und Sammlung stehen im Vordergrund. Die Schärfe verschiedener Kräuter in Form von Tee und wärmender Glühwein helfen die Abwehrkräfte anzukurbeln und vertreiben die beginnende Kälte. Lunge, Dickdarm, die Nase und die Farbe Weiß entsprechen dem Metall.
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Wasser</a>
                    <div class="accordion-content" data-tab-content>
                      Der Winter ist die Jahreszeit des Wassers. Regeneration, Einkehr, Alter und Tod; Niere, Blase, Haare und Ohren werden dem Wasser zugeordnet. Weiters die Farbe Schwarz und die Emotion Angst. Der Geschmack ist salzig. In kleinen Mengen bindet Salz die Körperflüssigkeiten, große Mengen Salz bewirken Austrocknung.  Der salzige Geschmack des Wassers wirkt somit abführend, schleimlösend und aufweichend.
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Mehr</a>
                    <div class="accordion-content" data-tab-content>
                      <p>In der chinesischen Medizin werden auch die Nahrungsmittel entsprechend ihrer geschmacklichen und thermischen Wirkungsweise den 5 Elementen zugeordnet.</p>
                      <p>Kalte Nahrungsmittel wie zum Beispiel Südfrüchte helfen dem Körper Hitze zu kühlen. Wenn wir unseren Vitamin C-Bedarf im Winter mit frisch gepressten Orangensaft decken, schwächt das letztendlich unsere Abwehr. Vielmehr versorgen wir uns in der kalten Jahreszeit mit Lebensmittel wie Kohl, Sauerkraut, Fenchel, eingelagertem Obst und Gemüse. Es wird gekocht und warm gegessen!</p>
                      <p>Im Frühling und  Sommer werden wir vorzugsweise erfrischende und kühlende Lebensmittel wie Frühlingskräuter, Bärlauch, Spinat, Blattsalate, saisonales Gemüse und frische Beeren zu uns nehmen.</p>
                      <p>Das Geheimnis der traditionellen chinesischen Ernährungslehre liegt darin, Mahlzeiten so auszuwählen, dass sie ausgewogen sind. Dabei kombiniert man Lebensmittel gemäß der Jahreszeit und Ihrer Thermik. Gleichzeitig wird das Prinzip durch die geschmackliche Auswahl der Lebensmittel ergänzt. Die Zubereitung der Speisen spielt eine große Rolle. Täglich sollte eine warme gekochte Mahlzeit gegessen werden.</p>
                      <p>Die TCM ist ein sehr komplexes System. Sie fragt nicht nach Kohlehydraten und Fetten, viel wichtiger ist, wie man sich nach dem Essen fühlt. Fühle ich mich gestärkt und zufrieden oder schlapp und müde. Es gilt also besonders auf den eigenen Körper zu achten! Die regionale und saisonale Auswahl der Lebensmittel ist somit eine logische Konsequenz!</p>
                    </div>
                  </li>
                </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="img-block-4">
        <div class="column large-12 medium-12 small-12 large-centered medium-centered small-centered">
            <img src="/static/hp_logo_white.png" width="200" style="display:block; margin:auto;">
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row text-center padding-block-1">
        <div class="column small-12 medium-12 large-12 large-centered medium-centered small-centered"></div>
        <img src="/static/img/5elemente-2.png" width="300" style="display:block; margin:auto;">
        <h1>– Ernährungsberatung –</h1>
        <div class="divider"></div>
        <div class="large-10 medium-12 small-12 small-centered">
            <h3>EvaVita</h3>
            <div class="justify text-s">
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                </p>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                    Ständige Müdigkeit, Gewichtsprobleme und Allergien? Eine Ernährungsumstellung kann sehr hilfreich
                    sein! Individuelle Beratung, Kochkurse und Vorträge nach persönlicher Kontaktaufnahme.
                </p>
                <div class="text-center small-12">
                    <a href="http://www.evavita.at/index.php?id=3">www.evavita.at</a>
                </div>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered">
                <p>
                </p>
            </div>
            <div class="columns large-4 medium-4 small-10 small-centered large-uncentered medium-uncentered"></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block login %}
  {% if request.session.logged %}
    <form method="post" id="logout_form">
        {% csrf_token %}
        <div class="top-bar-right">
            <ul class="menu">
                <li><span style="margin-right: 1em;">You are logged in as {{ request.session.user }}</span></li>
                <li><button name="logout" class="button" type="submit" value="1">Logout</button></li>
            </ul>
        </div>
    </form>
  {% else %}
    <form method="post" id="login_form">
        {% csrf_token %}
        <div class="top-bar-right">
            <ul class="menu">
                {{ login_form.as_ul }}
                <li><button class="button" type="submit">Login</button></li>
            </ul>
        </div>
    </form>
  {% endif %}
{% endblock %}
