{% extends 'hotpot/base.html' %}
{% load extras %}

{% block body %}
    <h1>Hotpot app</h1>
    {% if request.session.logged %}
        <p>You are logged in as {{ request.session.user }}</p>
        <form method="post" id="logout_form">
            {% csrf_token %}
            <button name="logout" type="submit" value="1">Logout</button>
        </form>
    {% else %}
        <form method="post" id="login_form">
            {% csrf_token %}
            {{ login_form.as_table }}
            <button type="submit">Login</button>
        </form>
    {% endif %}
    {% if menu %}
        <h2>Current Menü</h2>
        <ul>
            {% for item in menu %}
                <li>
                    {{ item.name }} -
                    {{ item|retailer_price:request.session.user }}
                </li>
            {% endfor %}
        </ul>
        <a href="/buy/">Order some Hotpots!</a>
    {% else %}
        <h2>No menus defined for this week!</h2>
        <p>Please contact...</p>
    {% endif %}
{% endblock %}